:root {
  /* --colbg: #F3F7F4; */
  --colbg: white;
  --colmain: #ed6a5a;
  --colblack: #313030;
  --col1: #5ca4a9;
  --col2: #ffc0b5;
  --contentfont: 'Noto Serif SC', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: var(--contentfont);
}

/* Play button */
.play-button {
  background-image: url('./assets/play.png');
  background-size: 100%;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.play-button:hover {
  opacity: 0.5;
}

.play-button:active {
  opacity: 0.1;
}

.play-button:focus {
  outline:0;
}

/* Slider */

input[type="range"] {
  box-shadow:none;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance: none;
  color:#111111;
  border: solid 1px;
  background: var(--col2);
  height:10px;
  margin: auto;
}

input[type="range"]:focus {
  outline:none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width:20px;
  height:20px;
  border-radius:5px;
  border:solid 2px #111111;
  background: var(--col1);
  cursor:pointer;
  content: "adsdsa";
}

input[type="range"]::-webkit-slider-thumb:hover {
  background:#111111;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1
}